/* 
========= Setup =========
*/
@font-face {
    font-family: 'Game of Thrones';
    font-weight: normal;
    font-style: normal;
    src:  url('fonts/GameofThrones.woff2') format('woff2'),
          url('fonts/GameofThrones.woff') format('woff'),
          url('fonts/GameofThrones.ttf') format('truetype');
  }

* {
    box-sizing: border-box;
}

body {
    /* GOT COLOR https://www.colourlovers.com/palette/1562540/Game_of_Thrones?widths=1 */
    color: #0F1217;
    font-family: 'Game of Thrones';
    font-weight: normal;
    font-style: normal;
}

h1 {
    text-align: center;
    font-size: 3.5rem;
    font-weight: normal;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: normal;
}

.container {
    width: 50%;
    margin: 0 auto;
}

/* 
========= JS DOM Manipulation Helpers =========
*/

.no-clicks {
    pointer-events:none;
}

.hidden {
    visibility: hidden;
}

.hidden-complete {
    display: none;
}

.light-green-bgc {
    background-color: lightgreen;
}

/* 
========= Header =========
*/

header {
    display: grid;
    grid-template-rows: 1fr 2fr;
    margin-top: 20px;
}

.setting-img-container {
    display: flex;
    justify-content: flex-end;
    
}

/* 
========= Settings box =========
*/

.settings {
    padding: 20px 0;
}

.setting-options {
    padding: 20px;
    margin: 20px 0;
    background-color: #9597A3;
}

.setting-choices {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* 
========= Gameboard / Grid =========
*/

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 20px 0;
}

.box {
    padding: 20px;
    text-align: center;
}

.box img {
    width: 128px;
    height: 128px;
}

.zero, .one, .two {
    border-bottom: 5px solid #565A63;
}

.three, .four, .five {
    border-bottom: 5px solid #565A63;
}

.zero, .one, .three, .four, .six, .seven {
    border-right: 5px solid #565A63;
}

/* 
========= Players and Scoreboard =========
*/

.scoreboard {
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 5px;
    padding: 20px 0;
}

.players-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.scores-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.score-box {
    background-color: #9597A3;
    padding: 30px;
    text-align: center;
    font-size: 1.5rem;
}

.score {
    background-color: white;
    font-size: 4rem;
}

.player-active {
    background-color: #202126;
    color: white;
}

/* 
========= Winner and Game Reset =========
*/
.results {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.results button {
    padding: 20px 40px;
    border-radius: 10px;
    border: none;
    background-color: #202126;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}